{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>All Products</h2>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mb-4">
                <div class="card border-0 shadow-sm p-2 product-card" style="width:220px;">
                    <a href="{% url 'product_detail' product.id %}">
                        {% if product.image_link %}
                            <img src="{{ product.image_link }}" class="card-img-top" style="height:130px;object-fit:cover;">
                        {% else %}
                            <img src="{{ product.image.url }}" class="card-img-top" style="height:130px;object-fit:cover;">
                        {% endif %}
                    </a>
                    <div class="add-to-cart-overlay">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-danger"><i class="bi bi-cart-plus"></i> Add To Cart</a>
                    </div>
                    <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                        <p class="fw-bold mt-1 mb-0">{{ product.name }}</p>
                    </a>
                    <span class="fw-bold">${{ product.price }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
</div>
{% endblock %}
